body {
    background: black;
    color: white;
    font-family: sans-serif;
    background-image: url('desktop.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin-left: 75px;
    opacity: 0.9
}

.main {
    font-size: 20px;
}

.title {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    color: #D0F8FF;
    text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF, 0 0 20px #A5F1FF, 0 0 30px #A5F1FF, 0 0 40px #A5F1FF;
}

.profileCard img {
    border: 1px solid;
    max-width: 300px;
    display: block;
    margin-top: 75px;
    margin-right: auto;
    margin-left: auto;
}

.text-block {
    text-align: center;
}

.assignment-table,
.project-table {
    border: 0px #DDEEEE;
    border-spacing: 0;
    font-size: 20px;
    margin-right: auto;
    margin-top: auto;
    width: 50%;
    height: 10%;
}

.assignment-table,
.project-table,
thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;
}

.assignment-table,
.project-table,
tbody td {
    border: solid 0px #DDEEEE;
    color: #333;
    padding: 10px;
}

.assignment-table,
.project-table,
tr:nth-child(odd) {
    background: #b8d1f3;
}

.assignment-table,
.project-table,
tr:nth-child(even) {
    background: #dae5f4;
}

ul {
    float: inherit;
    list-style-type: disc;
}

.header-menu li {
    display: inline-block;
}

.kword {
    color: #e04b4b;
    font-weight: bold;
}

ul li a {
    text-decoration: none;
    color: whitesmoke;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.4s ease;
}

ul li a:hover {
    background-color: ivory;
    color: black;
}